*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}
.hero{
    width: 100%;
    min-height: 100vh;
    background-image: url(../res/bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}